* { margin:0; padding:0; box-sizing:border-box; }

body{
  background: url("../Image/tree.jpg") no-repeat center center fixed;
  background-size: cover;
	/* background-color:#FAFAF0; */
	text-align: center;
  font-size: 30px;
}
h1{ 
	color:#FFFAF0;
  	font-size:2em;
  	text-align:center;
    font-weight:bold;
  	text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2em
}
p{
	color:#00FF00;
	font-size:.8em;
	font-family: 'Architects Daughter', cursive;
	font-weight:bolder;
	text-align:center;
	text-decoration:overline;
  padding-top: .5em;
}
nav{
	color:#FFFAF0;
	font-size:1em;
	font-family: 'Nova Mono', ;
	text-align:center;
	text-transform:uppercase;
  margin-top: 12em;
  margin-left: 5em;
  margin-right: 5em;
  border: 1px solid #FFF;


}

a{
  color:#FFFAF0;
  padding: 0 1.2em;
  text-decoration: none;
}

a:hover{
  background-color:#FFF;
  color:#00008B;
}

span{
  color:#FF1493;
}

#change{

}

#bar{
  color:#FFFAF0;
}

.column{
  width: 45%;
  margin: 2.5%;
  float:left;
}

.clearfix:after{clear:both;
}

h2 {
  color:#FFFAF0;
  font-family: 'Poiret One';
  font-size:.8em;
  padding: 2em 6em;
  margin-bottom: 10px

 }

 h3 {
  color:#FFFAF0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0 30px;
 }

img {
  display: inline-block;
  text-align: center;
  padding: 1em 4em;
}

 footer{
  color:#000000;
  font-size:.6em;
  font-family: 'Norican', cursive;
  text-align:center;
/*  position: fixed;
  width: 100%;
  bottom: 0;*/
  margin-top: 50px;
}






@media only screen and (max-width: 768px) {
/*  body {
    font-size: 20px;
  }*/
nav {
  padding: 1em 0;
}
  nav a {
    display: block;
  }
  nav span {
    display: none;
  }

  img {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  h1, nav {
    display: block;
    text-align: center;
    float:none;
    width: 120%;
    padding:5em;
  }

    nav a {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
img {
    width: 300px;
  }
  section, div {
    width: 100%;
    padding: .6em;
  }
}
