* { margin:0; padding:0; box-sizing:border-box; }

body{
	background-color:#FAFAF0;
	text-align: center;

}
h1{ 
	color:#000000;
  	font-size:30pt;
  	text-align:center;
  	font-weight:bold;
  	text-transform:uppercase;
  	font-family: 'Goudy Bookletter 1911', serif;
}
p{
	color:#000000;
	font-size:20pt;
	font-family: 'Montez', cursive;
	font-weight:bolder;
	text-align:center;
	text-decoration:overline
}
nav{
	color:#C0C0C0;
	font-size:12pt;
	font-family: 'Nova Mono', ;
	text-align:center;
	text-transform:uppercase;
}

p{
	color:#000000;
	font-size:10pt;
	font-family: 'Norican', cursive;
	text-align:center;
}
hr{
	width:400px;
	text-align: center;
}
