body{
	background-color:#FAFAF0;
	text-align: center;

}
h1{ 
	color:#000000;
  	font-size:20pt;
  	text-align:center;
  	font-family: 'Courier New';
  	font-weight:bold;
  	text-decoration:underline;
  	text-transform:uppercase;
}
h2{
	color:#000000;
	font-size:20pt;
	font-family:'courier new'; 
	font-weight:bolder;
	text-align:center;
	text-decoration:overline
}
h3{
	color:#C0C0C0;
	font-size:12pt;
	font-family:'courier new';
	text-align:center;
	text-transform:uppercase;
}
#slope{
	font-weight: bold;
	font-style:italic;
}
p{
	color:#000000;
	font-size:10pt;
	font-family:'courier new';
	text-align:center;
}
hr{
	width:400px;
}