* { margin:0; padding:0; box-sizing:border-box; }

h1{


}

img{
	float:left;
	margin: 0 10px 10px 0;

}

nav{
	background-color: #aaaaaa;
	font-family: Arial, sans-serif;

}

a{
	background-color: #ff7900;
	color:white;
	text-decoration: none;
	display;block;
	float:left;
	padding:20px;

}
a:hover {
	background-color: #338833;
}

.clearfix:after {
	visibility: hidden;
	display:block;
	content:" ";
	clear: both;
	height:0;
	font-size: 0;

}

hr{ 
width: 400;}

footer{
	text-align: center;
	padding:20px;

}